<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% var user = user %>

    <script>
      let user = <%- JSON.stringify(user) %>;
      localStorage.setItem(user.user, JSON.stringify(user));

      for (var i = 0; i < localStorage.length; i++) {
        var key = localStorage.key(i);
        let values = localStorage.getItem(key);

        let display = values.replace(/[{},]/g, `\n`).replace(/["]/g, "");

        document.writeln(`<h4>${display}</h4>`)

      }
    </script>
  </body>
</html>
